@import '../../../../styles.scss';

.col-2{
    margin-top:17px;
    margin-left: 15px;
}
.mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 0px;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 10px;
    margin-left: 4px;
    padding-top: 0px;
}
.mat-form-field--inline .mat-form-field:nth-child(2) {
    margin-right: 10px;
}
.modal-title[_ngcontent-hkv-c12] {
    line-height: 1.0; 
}

.addParameter {
    margin-top: 10px;
}