@import '../../../../styles.scss';

.col-2{
    margin-top:17px;
}
.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(n+1) {
  margin-right: 10px;
}
