<div>
    <div class="col-2">
        <h3 class="page-title">{{titlePage}}</h3>
    </div>
    <div class="row">
        <div class="offset-8 col-sm-2">
            <div id="cus-search">
                <input type="search" placeholder="Search" id="search" [(ngModel)]="searchString" (keyup)="onSearch()">
            </div>
        </div>
        <div class="col-sm-2">
            <p></p>
            <button mat-raised-button color="primary" (click)="addRole()"> Add New Role </button>
        </div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span>
                            <h6>Admin</h6>
                        </span>
                    </mat-expansion-panel-header>
                    <p>Vishal</p>
                </mat-expansion-panel>&nbsp;

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span>
                            <h6>Supervisor</h6>
                        </span>
                    </mat-expansion-panel-header>
                    <p>Alok</p>
                    <p>Pushpak</p>
                    <p>Rohit</p>
                </mat-expansion-panel>&nbsp;

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span>
                            <h6>Technician</h6>
                        </span>
                    </mat-expansion-panel-header>
                    <p>Shubham</p>
                </mat-expansion-panel>&nbsp;

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span>
                            <h6>Worker</h6>
                        </span>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

            </mat-card-content>
        </mat-card>
    </div>
</div>