@import '../../../styles.scss';

.col-2 {
    margin-top:17px;
}

:host /deep/ .ag-theme-material .ag-header-cell-resize::after {
    border-right: 1px solid #cecece;
    box-sizing: content-box;
    content: "resize";
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: 8px;
    width: 8px;
}
.modal-content[_ngcontent-tmf-c10] {
    padding-left: 7px;
}
.mat-raised-button.mat-primary{
    border-radius: 3px;
}